# Arquivos gerais
.DS_Store
.idea/
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Build
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# Web
web/.last_build_id

# Logs
*.log

# Coverage
coverage/

# Arquivos temporários
*.swp
*.swo
